h1,
h2,
h3 {
  margin: 0;
}
html,
body,
#root,
.App {
  min-height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.searchPopup {
  background-color: rgba(241, 241, 241, 0.92);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchPopup form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #a1a1a1;
  margin-top: 8rem;
}

.searchPopup svg {
  height: 2rem;
}

.searchPopup .searchDiv {
  width: 100%;
  border-bottom: 1.5px lightgray solid;
}

.searchDiv input {
  width: 85%;
  border: 0;
  background-color: transparent;
  font-size: 2.5rem;
  padding: 1rem 0;
  margin-left: 1rem;
}

.searchDiv input::placeholder {
  color: rgba(161, 161, 161, 0.9);
}

.searchDiv input:focus {
  outline: none;
}

.sticky {
  position: fixed;
  width: 98%;
  background-color: white;
  padding-right: 1rem;
}

.header {
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

header .parts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header .parts:nth-of-type(odd) {
  gap: 1rem;
}

.header span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header span {
  font-family: "Source Serif Pro", serif;
  color: #a1a1a1;
  letter-spacing: 1px;
  font-weight: 800;
}
.header svg {
  height: 1.5rem;
  margin-left: 0.6rem;
}

.header h1,
.brandsContainer {
  color: rgb(255, 68, 47);
}

.parts .searchBtn {
  margin-left: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: azure;
}

.footer a {
  position: relative;
  margin-left: 1rem;
  color: white;
  font-size: 2rem;
  align-items: center;
}

.findCard {
  height: 30.375rem;
  background-image: url(./images/circular-food.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.findCard .findTitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 4rem;
  font-size: 3.5rem;
}

.findCard .searchSection {
  background-color: rgba(255, 255, 255, 0.7);
  width: 37.5rem;
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchSection svg {
  height: 70%;
  margin-left: 0.5rem;
  color: #a1a1a1;
}

.signUpCard {
  background-color: rgb(255, 68, 47);
  min-height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emailNewsCard {
  display: flex;
  flex-direction: column;
}

.emailCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 4.5rem;
}

.emailCard h3 {
  font: bold 1.25rem/1.625rem "Source Serif Pro", serif;
  color: #fff;
  padding: 0;
}

.emailCard input {
  width: 13.125rem;
  height: 90%;
  font: bold 0.75rem/12 "Renner", sans-serif;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px #a1a1a1 solid;

  margin-left: 1.5rem;
}
.emailCard input:focus {
  outline: none;
}

.emailCard button {
  height: 100%;
  background-color: rgb(24, 24, 24);
  color: white;
  font-weight: 550;
  letter-spacing: 1px;
}

.emailCard input::placeholder {
  color: lightgray;
}

.newsLetterContent {
  background-color: snow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2.5rem 0.5rem;
  gap: 2rem;
}

.newsLetter {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.newsLetter .newsLetterTitle {
  font: normal bold 20px "Renner", sans-serif;
  color: #83b838;
  letter-spacing: normal;
  text-transform: uppercase;
}

.newsLetterTitle svg {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.newsLetter .newsLetterDesc {
  font-size: small;
  font-weight: 600;
  padding: 0 1rem;
}

.signUpDone {
  text-align: center;
}

.hLine {
  border-left: 1px solid black;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.linkCard .linkTitle {
  font: bold 1rem/1rem "Renner", sans-serif;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul {
  padding: 0;
  list-style: none;
}

.linkCard li {
  font: normal 0.75rem/2rem "Renner", sans-serif;
  color: #333;
  letter-spacing: 1px;
}

.mainFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(255, 68, 47);
  color: white;
  padding: 2rem 0;
}

.navCard strong {
  font: bold 1.5rem "Renner", sans-serif;
}

.navCard .navTitle {
  font: bold 0.875rem/1.125rem "Renner", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navCard .socialsUl {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nonImageUl {
  font: bold 0.75rem/1.0625rem "Renner", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  padding: 5px 0;
}

.socialsUl svg {
  height: 1.6rem;
}

.slideNavBehind {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: transparent;
}

.slideNav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  height: 100vh;
  width: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
  transition: 0.5s;
  overflow: hidden;
}

.slideNav .cancelDiv {
  width: 100%;
  text-align: start;
  margin-left: 3rem;
}

.slideNav svg {
  height: 1.6rem;
}

.slideNav .navLogo {
  background-color: rgb(255, 68, 47);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideNav li {
  letter-spacing: 1px;
  font-weight: 650;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0 1rem;
}

.slideNav .socialsDiv {
  font-weight: 600;
  font-size: small;
}

.socialsDiv ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.slideNav .signIn {
  border: 1px solid gainsboro;
  color: gainsboro;
  padding: 0.5rem 1.8rem;
  background-color: transparent;
}

.food-card-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 2rem;
  padding: 1rem 4rem;
  background-color: #333;
  min-height: 81vh;
  overflow-y: auto;
}

.food-card-wrapper .card-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-card-wrapper a {
  text-decoration: none;
}

.view-card-title {
  color: black;
  letter-spacing: 0.5px;
}

.recipe-view-card {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 24rem;
  width: 20rem;
  background-color: #fff;
}

.recipe-view-card .imgContainer {
  height: 80%;
  width: 100%;
}

.imgContainer img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.signInContainer {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(./images/food-left.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signIn-form {
  background-color: rgba(241, 241, 241, 0.9);
  width: max-content;
  margin-left: auto;
  margin-right: 8rem;
  padding: 2rem 1rem;
  margin-bottom: 3rem;
  border: none;
}

.signIn-form h1 {
  margin-top: 1.5rem;
}

.signIn-form h2 {
  color: rgb(240, 61, 41);
}

.input-sect {
  margin-top: 1.2rem;
  gap: 0.2rem;
}

.input-sect label {
  font-size: small;
  font-weight: 600;
}

.input-sect input {
  font-size: large;
  padding: 0.6rem 0;
}

.signIn-form button {
  width: 100%;
  font-size: large;
  padding: 0.4rem 0;
  background-color: #333;
  color: #fff;
  margin-top: 1.2rem;
}

.recipe-header {
  height: 30rem;
  display: flex;
  flex-direction: row-reverse;
}

.recipe-header .header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-info .header-name {
  margin-bottom: 1rem;
  letter-spacing: 0.6px;
}

.header-info span {
  font-size: large;
  margin-bottom: 0.5rem;
  letter-spacing: 0.4px;
  font-weight: 400;
}

.recipe-header .header-img {
  width: 60%;
  padding: 1rem;
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ingredients-sect {
  padding: 1rem 3rem;
}

.ingredients-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 6.5rem;
  padding: 0 0.5rem;
}
.ingredients-ul li {
  width: max-content;
}

.click:hover,
a:hover,
button:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.displayGone {
  display: none;
}

/*Scrollbar*/
body::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
  box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #96a6bf, #63738c);
  box-shadow: inset 0 0 1px 1px #5c6670;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #8391a6, #536175);
}
