h1 {
  margin: 0;
}
html,
body,
#root,
.App {
  min-height: 100vh;
}

.header {
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

header .parts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header .parts:nth-of-type(odd) {
  gap: 1rem;
}

.header span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header span {
  font-family: "Source Serif Pro", serif;
  color: #a1a1a1;
  letter-spacing: 1px;
  font-weight: 800;
}
.header svg {
  height: 2rem;
  width: 1.3125rem;
}

.header h1,
.brandsContainer {
  color: rgb(255, 68, 47);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: azure;
}

.footer a {
  position: relative;
  margin-left: 1rem;
  color: white;
  font-size: 2rem;
  align-items: center;
}

.findCard {
  height: 30.375rem;
  background-image: url(./images/circular-food.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.findCard .findTitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 4rem;
  font-size: 3.5rem;
}

.findCard .searchSection {
  background-color: rgba(255, 255, 255, 0.7);
  width: 37.5rem;
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchSection svg {
  height: 70%;
  margin-left: 0.5rem;
  color: #a1a1a1;
}
